body {
	background-color: #67c2ef;
}
 h1, h2 {
 	margin: 0 auto;
 	text-align: center;
 }

.weatherApp {
	margin: 0 auto;
	text-align: center;
	font-size: 18px;
	font-family: 'Big Caslon', 'Book Antiqua', 'Palatino Linotype', Georgia, serif;
}

#convert {
	background-color: blue;
	transition: all 0.5s
}

#convert:hover {
	background-color: pink;
}